#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# exporting env vars to variables 
#   i.e.: `source local.env &&  tf plan -out=terraform-plan # happy no -var :)`
*.env